.grid-wrap {
  display: grid;
  grid-template-rows: 382px 42px minmax(600px, auto) 200px;
  grid-template-columns: 1fr;
  row-gap: 40px;
}

header {
  position: relative;
  background: url("../img/bg_p.svg") no-repeat center;
  background-size: cover;
}

.profile {
  position: absolute;
  background: url("../img/profile_p.svg") no-repeat center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-detail {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: #fff;
  border-radius: 30px;
}

.profile:hover + .profile-detail {
  visibility: visible;
  opacity: 1;
}

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav > ul > li + li {
  margin-left: 300px;
}

nav > ul > li > a {
  display: block;
  height: 100%;
}

nav > ul > li.active > a {
  text-decoration: underline;
}

footer {
  padding: 24px;
  background-color: #000;
}

.copyright {
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.link-list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.link-list > li {
  padding: 0 10px;
}

.footer-icon {
  display: block;
  width: 100px;
  height: 100px;
}

.git {
  background: url("../img/git_p.svg") no-repeat center;
}

@media screen and (max-width: 768px) {
  .grid-wrap {
    grid-template-rows: 250px 42px minmax(350px, auto) 100px;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  header {
    background: url("../img/bg_t.svg") no-repeat center;
  }

  .profile {
    background: url("../img/profile_t.svg") no-repeat center;
    width: 26.04vw;
    height: 26.04vw;
  }

  .profile-detail {
    width: 52.08vw;
    padding: 2.6vw;
    font-size: 2.24vw;
  }

  nav > ul > li + li {
    margin-left: 13.02vw;
  }

  footer {
    padding: 1.3vw;
  }

  .copyright {
    font-size: 2.34vw;
  }

  .link-list {
    margin-top: 1.3vw;
  }

  .link-list > li {
    padding: 0 1.3vw;
  }

  .footer-icon {
    width: 6.51vw;
    height: 6.51vw;
  }

  .git {
    background: url("../img/git_m.svg") no-repeat center;
  }
}

@media screen and (max-width: 320px) {
  .grid-wrap {
    grid-template-rows: 174px 42px minmax(350px, auto) 100px;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  header {
    background: url("../img/bg_m.svg") no-repeat center;
  }

  .profile {
    background: url("../img/profile_m.svg") no-repeat center;
    width: 100px;
    height: 100px;
  }

  .profile-detail {
    width: 200px;
    padding: 20px;
  }

  nav > ul > li + li {
    margin-left: 30px;
  }

  footer {
    padding: 10px;
  }

  .copyright {
    font-size: 18px;
  }

  .link-list {
    margin-top: 10px;
  }

  .link-list > li {
    padding: 0 10px;
  }

  .footer-icon {
    width: 50px;
    height: 50px;
  }

  .git {
    background: url("../img/git_m.svg") no-repeat center;
  }
}
