@import "./reset.css";
@import "./default.css";
@import "./typography.css";

.post {
  max-width: 1590px;
  margin: 0 auto;
}

.post > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post > ul > li:nth-of-type(n + 4) {
  margin-top: 35px;
}

.post-cont-box {
  width: 500px;
  height: 600px;
  border: 1px solid black;
}

.post-cont-bg {
  height: 264px;
  background: url("../img/post_p.svg") no-repeat center;
}

.post-cont {
  padding: 35px;
}

.post-cont h2 {
  font-size: 36px;
  text-align: center;
}

.post-cont p {
  margin-top: 35px;
  text-indent: 10px;
  font-size: 24px;
}

@media screen and (max-width: 1920px) {
  .post {
    max-width: 82.81vw;
  }

  .post > ul > li:nth-of-type(n + 4) {
    margin-top: 1.82vw;
  }

  .post-cont-box {
    width: 26.04vw;
    height: 31.25vw;
  }

  .post-cont-bg {
    height: 13.75vw;
  }

  .post-cont {
    padding: 1.82vw;
  }

  .post-cont h2 {
    font-size: 1.87vw;
  }

  .post-cont p {
    margin-top: 1.82vw;
    text-indent: 0.52vw;
    font-size: 1.25vw;
  }
}

@media screen and (max-width: 768px) {
  .post {
    max-width: 89.84vw;
  }

  .post > ul > li:nth-of-type(n + 3) {
    margin-top: 3.9vw;
  }

  .post-cont-box {
    width: 41.66vw;
    height: 45.57vw;
  }

  .post-cont-bg {
    height: 20.05vw;
  }

  .post-cont {
    padding: 2.6vw;
  }

  .post-cont h2 {
    font-size: 3.12vw;
  }

  .post-cont p {
    margin-top: 2.6vw;
    font-size: 2.34vw;
  }
}

@media screen and (max-width: 320px) {
  .post {
    max-width: 100%;
  }

  .post > ul > li:nth-of-type(n + 2) {
    margin-top: 30px;
  }

  .post-cont-box {
    width: 320px;
    height: 350px;
  }

  .post-cont-bg {
    height: 154px;
  }

  .post-cont {
    padding: 10px;
  }

  .post-cont h2 {
    font-size: 24px;
  }

  .post-cont p {
    margin-top: 10px;
    font-size: 18px;
  }
}
