@import "./reset.css";
@import "./default.css";
@import "./typography.css";

.post {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  border: 1px solid black;
  padding-bottom: 75px;
}

.post-cont-bg {
  height: 260px;
}

.post-cont {
  padding: 30px 40px;
}

.post-cont > h2 {
  font-size: 36px;
}

p.date {
  font-size: 24px;
  text-align: right;
}

.share-link > a {
  color: blue;
}

.cont-text {
  margin-top: 50px;
  font-size: 24px;
}

.post-list-control {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.post-list-control > a {
  font-size: 24px;
}

@media screen and (max-width: 1920px) {
  .post {
    max-width: 75vw;
    padding-bottom: 3.9vw;
  }

  .post-cont-bg {
    height: 13.54vw;
  }

  .post-cont {
    padding: 1.56vw 2.08vw;
  }

  .post-cont > h2 {
    font-size: 30px;
  }

  p.date {
    font-size: 24px;
  }

  .cont-text {
    margin-top: 2.6vw;
    font-size: 24px;
  }

  .post-list-control > a {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .post {
    max-width: 100%;
    padding-bottom: 5.2vw;
  }

  .post-cont-bg {
    height: 20.18vw;
    background: url("../img/postCont_t.svg") no-repeat center;
  }

  .post-cont {
    padding: 2.6vw 3.9vw;
  }

  .post-cont > h2 {
    font-size: 24px;
  }

  p.date {
    font-size: 20px;
  }

  .cont-text {
    margin-top: 3.9vw;
    font-size: 20px;
  }
  .post-list-control > a {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .post {
    padding-bottom: 40px;
  }

  .post-cont-bg {
    height: 155px;
    background: url("../img/post_m.svg") no-repeat center;
  }

  .post-cont {
    padding: 20px 12px;
  }

  .post-cont > h2 {
    font-size: 24px;
  }

  p.date {
    font-size: 18px;
  }

  .cont-text {
    margin-top: 30px;
    font-size: 24px;
  }

  .post-list-control > a {
    font-size: 12px;
  }
}
